# Configuration file

####################
# block
####################

block {
    I:"Modding Table"=3715
}


####################
# client
####################

client {
    # If set to true and the Max power is -1, it hide the tooltip.
    B:HideInfinitePower=true

    # Sets the renderin mode for OmniWrenches.
    # 0: Ingame settings.
    # 1: Force Fancy Graphics.
    # 2: Force fast Graphics.
    I:RenderMode=0
}


####################
# energy
####################

energy {
    # Set this to false if you want the wrench to use power
    B:IsInfinite=true
}


####################
# general
####################

general {
    # Set to false to disable update checks for NHAVE's OmniWrench
    B:EnableUpdateCheck=true
    B:ForceFastRendering=false
}


####################
# item
####################

item {
    I:"Color mod"=14502
    I:Components=14501
    I:"Skin Mod"=14503
    I:"Special Skin Mod"=14504
    I:Wrench=14500
}


####################
# recipes
####################

recipes {
    # Adds recipes from the coresponding Mod Key. Seperated by Comma.
    # Keys: "VANILLA_SIMPLE,IC2_SIMPLE,UE_SIMPLE,VANILLA_ADVANCED,IC2_ADVANCED,UE_ADVANCED"
    S:recipeKeys=IC2_ADVANCED
}


