# Configuration file

####################
# armor
####################

armor {
    I:"Tier1 Boots"=28017
    I:"Tier1 Helmet"=28014
    I:"Tier1 Legs"=28016
    I:"Tier1 Plate"=28015
    I:"Tier2 Boots"=28013
    I:"Tier2 Helmet"=28010
    I:"Tier2 Legs"=28012
    I:"Tier2 Plate"=28011
    I:"Tier3 Boots"=28009
    I:"Tier3 Helmet"=28006
    I:"Tier3 Legs"=28008
    I:"Tier3 Plate"=28007
}


####################
# balancing / tweaks
####################

"balancing / tweaks" {
    # The armor gets damaged every [that many] ticks when activated
    I:"Armor Damage Frequency"=4

    # Multiplies the damage the armor takes per hit by this number. If you want to cheat change this to 0
    I:"Armor Damage Multiplier"=3
    I:"Big Waterwheel Durability"=1000

    # Determines the maximum energy of the EMP Orb. Value gets taken by 10,000
    I:"EMP Orb Maximum Energy"=40

    # Should the EMP Orb be craftable?(for preventing griefing)
    B:EnableEMPOrb=true

    # Should the Spawner Wrench be craftable?
    B:EnableSpawnerWrench=true
    I:"Huge Waterwheel Durability"=4000
    I:"Small Waterwheel Durability"=500

    # Determines how much energy a tool consumes when used
    I:"Tool Usage Damage"=5

    # Determines how well the tools/armor can be enchanted; 0 = unentchantable
    I:"Tool/Armor Enchantability"=0

    # Whether to damage the potions in the armor while it's active
    B:doArmorPotionDamage=true
}


####################
# block
####################

block {
    I:"Building Planner"=4052
    I:Charger=4050
    I:Engine=4051
}


####################
# crafting items
####################

"crafting items" {
    I:"AirCell Item"=27998
    I:"Ammunition Items"=28022
    I:"ArmorModule Item"=28027
    I:"Form Items"=28023
    I:"Gear Items"=28024
    I:"Inductor Item"=27999
    I:"Ingot Item"=27995
    I:"Motor Item"=27997
    I:"Plate Item"=27996
    I:"Spring Item"=28025
    I:"Syringe Item"=28026
    I:"Waterwheel Items"=28021
}


####################
# general
####################

general {
    # Activates / Deactivates some graphical effects like some 3D tools
    B:"Fancy Rendering"=true

    # Activates / Deactivates most HD(32x) textures
    B:"HD Textures"=false
    B:"Inform about new development versions"=false
    B:"Inform about new official Versions"=true
}


####################
# recipes
####################

recipes {
    # Whether to use tanks and pneumatic motors for the engine recipe
    B:"Hard Kinetic Engine Recipe"=false

    # Required Energy for the Coal Heat Press Recipe
    I:heatPressCoalRecipeEnergy=1000

    # Required Energy for the Diamond Heat Press Recipe
    I:heatPressDiamondRecipeEnergy=2000000

    # Whether you can use hardened energized plates in recipes (for IC2 users wanting to use iridium only)
    B:useHardenedPlates=true
}


####################
# tools
####################

tools {
    I:"Battery Pack"=28020
    I:Chainsaw=28004
    I:Igniter=28002
    I:"Industrial Jackhammer"=28003
    I:"Pneumatic Jackhammer"=28001
    I:"Powered Hoe"=28005
    I:"Powered Shears"=28018
    I:"Special Items"=28019
}


