# Configuration file

####################
# block
####################

block {
    I:darkIronOre=4084

    # Factorization TileEntities
    I:factoryBlockId=4093
    I:fracturedBedrockBlockId=4083

    # WrathFire and invisible lamp-air made by WrathLamps
    I:lightAirBlockId=4092

    # Ores and metal blocks mostly
    I:resourceBlockId=4091
}


####################
# client
####################

client {
    B:allowUnpureCommands=true

    # Lets you use the bag from GUIs
    B:anywhereBagSwap=true

    # Lets you open the pocket crafting table from GUIs
    B:anywherePocketCraft=true

    # Show invisible lamp-air
    B:debugLightAir=false

    # If true, enables a thread that dumps a stack trace of Minecraft if it is paused for longer than lagWatchDogInterval
    B:enableLagWatchDog=false

    # Remove nether fog at short render distances
    B:fixNetherFog=true

    # Make middle clicking more useful
    B:fixPickBlock=true

    # If the game is stuck for longer than this amount of time (in seconds), dump a stacktrace of what it is doing.
    D:lagWatchDogInterval=0.25

    # Render servo instructions extra-large. This can also be toggled on and off using '/f servoInstructionSize'.
    B:largeServoInstructions=false

    # Sets a lower bound on time dilation. Between 0 and 1.
    D:lowestTimeDilation=0.6000000238418579

    # 3 keys for: removing (x), cycling (c), balancing (b)
    S:pocketCraftingActionKeys=xcbf

    # If false, never use smooth lighting for drawing sculptures
    B:renderAmbientOcclusion=true

    # If true, render barrel info only when nearby
    B:renderBarrelClose=false
    B:renderBarrelItem=true
    B:renderBarrelText=true

    # If false, most TEs won't draw, making everything look broken but possibly improving FPS
    B:renderOtherTileEntities=true

    # If this is enabled, the client will run as slowly as the server does. This avoids visual artifacts on laggy servers.
    B:useTimeDilation=true
}


####################
# dimensionslices
####################

dimensionslices {
    # work in progress; may be unstable
    B:enableDimensionSlices=false
}


####################
# general
####################

general {
    B:addBranding=false
    I:entityRelightTask=3

    # Set to false to disable broken bedrock spawning around dark iron ore
    B:generateBrokenBedrock=false

    # Set to false to disable dark iron ore generation
    B:generateDarkIronOre=true

    # Set to false to disable silver ore generation
    B:generateSilverOre=false

    # The size of silver ore nodes. Between 5 & 35. Default is 18
    I:silverOreNodeNewSize=18
}


####################
# item
####################

item {
    I:acid=31560
    I:bagOfHolding=31582
    I:barrelEnlarge=31101
    I:battery=31552
    I:chargemeter=31554
    I:coil=31558
    I:darkIron=31585
    I:darkIronSprocket=31103
    I:daybarrelItem=31540
    I:diamondCuttingHead=31555
    I:diamondShard=31587
    I:docbook=9067
    I:fan=31556
    I:glazeBucket=31550
    I:instructionPlate=31541
    I:leadIngot=31584
    I:logicMatrix=31580
    I:logicMatrixCtrl=31568
    I:logicMatrixID=31579
    I:logicMatrixProgrammer=31581
    I:magnet=31559
    I:mirror=31553
    I:motor=31557
    I:netherPowder=31102
    I:oreCleanGravel=31591
    I:oreCrystal=31589
    I:oreDirtyGravel=31592
    I:oreReduced=31590
    I:pocketCraftingTable=31549
    I:routerEject=31100
    I:routerItemFilter=31567
    I:routerMachineFilter=31566
    I:routerSpeed=31565
    I:routerThorough=31564
    I:routerThroughput=31563
    I:sculptTool=31551
    I:servoCommenter=9066
    I:servoMotor=31104
    I:servoMotorPlacer=31547
    I:servoWidgetDecor=31546
    I:servoWidgetInstruction=31545
    I:silverIngot=31583
    I:sludge=31588
    I:socketPart=31542
    I:wrathIgniter=31586
}


####################
# retrogen
####################

retrogen {
    B:enableRetrogen=false
    B:retrogenDarkIron=false
    S:retrogenKey=DEFAULT
    B:retrogenSilver=false
}


####################
# server
####################

server {
    # This is a Java Regex to blacklist router access
    S:bannedRouterInventoriesRegex=

    # Adds recipes for bark variants of logs
    B:barkRecipes=true

    # If false, water must be piped in
    B:boilersSuckWater=true

    # Naming entities gives them +5 hearts
    B:buffedNametags=true

    # Set to false to disable the crafting recipe for solar2steam machines
    B:enableSolarSteam=true

    # Causes some mobs to rarely spawn wearing your armor
    B:equalOpportunitiesForMobs=true

    # If set to false, fanturpellers will not move players.
    B:fanturpellerWorksOnPlayers=true

    # Makes projectiles start with the velocity of the thrower
    B:properProjectilePhysics=true

    # If false, notifications will be translated by the client
    B:serversideTranslate=true
    B:spreadWrathFire=true

    # Scale how much steam is produced by the solar boiler
    D:steamOutputAdjustment=1.0

    # If true, maximum clay lump volume is 1 m³ instead of (1 m³)/4
    B:stretchyClay=true

    # How many ticks the server will wait before sending out TPS reports. 20 ticks = 1 second, unless it's lagging.
    I:tpsReportInterval=20
}


