# Configuration file

####################
# block
####################

block {
    I:blackvineID=3115
    I:bluevineID=3111
    I:brownvineID=3112
    I:cyanvineID=3109
    I:darkgreyvineID=3107
    I:flowerID=3650
    I:flowercropID=3648
    I:greenvineID=3113
    I:lightbluevineID=3103
    I:lightgreyvineID=3108
    I:limevineID=3105
    I:magentavineID=3102
    I:moonflowerID=3649
    I:orangevineID=3101
    I:pinkvineID=3106
    I:purplevineID=3110
    I:redvineID=3114
    I:whitevineID=3100
    I:yellowvineID=3104
}


####################
# general
####################

general {
    S:blackflowername=Black Roses
    S:blackmoonflowername=Black Moon Vine
    S:blueflowername=Blue Hydrangeas
    S:bluemoonflowername=Blue Pod
    S:brownflowername=Dying Shrub
    S:brownmoonflowername=Brown Fan Weed
    S:cyanflowername=Cyan Wildflowers
    S:cyanmoonflowername=Cyan Temple Flower
    S:darkgreyflowername=Grey Peonies
    S:darkgreymoonflowername=Dark Grey Bush
    B:enablefloweringvineblocks=true
    I:flowerRarity=10
    B:flowerdirectlytodyerecipes=true
    I:flowerseedRarity=2
    I:flowerseedrecipeOutput=2
    S:greenflowername=Green Shrub
    S:greenmoonflowername=Green Sparkle Weed
    S:lightblueflowername=Blue Chrysanthemums
    S:lightbluemoonflowername=Light Blue Lamp Flower
    S:lightgreyflowername=Wild Parsley Blooms
    S:lightgreymoonflowername=Light Grey Bush
    S:limeflowername=Shrub
    S:limemoonflowername=Lime Slime Weed
    S:magentaflowername=Magenta Wildflowers
    S:magentamoonflowername=Magenta Bubble Weed
    I:moonflowerRarity=10
    S:orangeflowername=Orange Wild Poppies
    S:orangemoonflowername=Orange Hover Flower
    S:pinkflowername=Pink Dasies
    S:pinkmoonflowername=Pink Moon Flower
    S:purpleflowername=Purple Violets
    S:purplemoonflowername=Purple Weed
    S:redmoonflowername=Red Tendrils
    I:redstoneflowerdyerecipeOutput=8
    B:tallgrassdropsflowerseeds=false
    B:turnongamebreakingflowertodyerecipes=true
    S:whiteflowername=White Roses
    S:whitemoonflowername=White Moon Flower
    S:yellowmoonflowername=Yellow Curl Weed
}


####################
# item
####################

item {
    I:blackseedID=14016
    I:blueseedID=14012
    I:brownseedID=14013
    I:cyanseedID=14010
    I:darkgreyseedID=14008
    I:greenseedID=14014
    I:lightblueseedID=14004
    I:lightgreyseedID=14009
    I:limeseedID=14006
    I:magentaseedID=14003
    I:orangeseedID=14002
    I:pinkseedID=14007
    I:purpleseedID=14011
    I:redseedID=14015
    I:whiteseedID=14001
    I:yellowseedID=14005
}


