# Configuration file

####################
# item
####################

item {
    I:commonRing=26950
    I:fireRing=26952
    I:flyRing=26955
    I:harvestRing=26954
    I:iceRing=26953
    I:tpRing=26951
}


####################
# recipe
#===================
# Below for each Ring of Power is assigned a list of variants of core ingredient of its recipe. The ingredient variants list is formatted as follows: "block123, item234", where 123 and 234 is Block or Item ID respectively.
####################

recipe {
    # Block or Item that is used as common ingredient for all Rings of Power, besides the Common Ring and the core ingredients for specific ring. Default is item diamond.
    S:commonIngredient=item57
    S:fireRing <
        item259
     >
    S:flyRing <
        item288
     >
    S:harvestRing <
        item295
        item362
        item361
        block6
     >
    S:iceRing <
        block80
        block79
     >
    S:tpRing <
        item368
     >
}


