# Configuration file

####################
# block
####################

block {
    I:BorderedQuartz=3426
    I:DimensionalBridgeStabilizer=3427
    I:EmptyDBS=3424
    I:EnderInfusedMetal=3425
    I:Frame=3429
    I:Portal=3428
}


####################
# item
####################

item {
    I:BlankPortalModule=31198
    I:BlankUpgrade=31197
    I:Glasses=31203
    I:LocationCard=31202
    I:Manual=31196
    I:Nanobrush=31204
    I:PortalModule=31201
    I:Upgrade=31199
    I:Wrench=31205
}


####################
# misc
####################

misc {
    B:ForceShowFrameOverlays=false
}


####################
# overrides
####################

overrides {
    B:DisableParticles=false
    B:DisableSounds=false
}


####################
# portal
####################

portal {
    I:ActivePortalsPerRow=2
    B:FasterPortalCooldown=false
    B:PortalsDestroyBlocks=true
}


####################
# power
####################

power {
    D:DBSPowerStorageMultiplier=1.0
    D:PowerMultiplier=1.0
    B:RequirePower=true
}


